
*{ /*Universal Selector*/
    box-sizing: border-box;
}

body{ /*Element or type selector*/
    background-color: rgb(145, 190, 110);
    /*functional value*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header{ /*Element or type selector*/
    display: flex;
    align-items: center;
    width: 100%;    /*relative value */
    height: 4.5rem; /*relative value */
    /* height: 200px; /* fixed value */
    background-color: white;
    justify-content: space-around;

    border: 1px solid rgb(22, 6, 6);
    /*CSS shorthand*/
}

main{
    display: flex;
    flex-direction: column;g
    gap: 1rem;
}
/*inline flex child layout*/
main > div{
    display:flex;
    gap: 2rem;
    width:100%;
}
/*Left and right sections*/
section{
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    gap:1rem;
}

aside{
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: white;
    border: 1px solid black;
    gap: 1rem;
}

ul{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

nav ul li:first-child{ /*Pseudo Class*/
    font-weight: bold;
}

.logo{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(134, 149, 105);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
}

form{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;   
    gap: 1rem;
}

form input{
    width: 80%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(111, 110, 110);
    padding-left: 1rem;
    font-size: 1.5rem;
}

form input::placeholder{
    font-size: 1.5rem;
}
table{
    width: 55%;
    font-size: 1.3rem;
    text-align: center;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: white;
}

th{
    background-color: rgb(187, 187, 255);
    padding: 1rem;
}

td{
    padding: 1rem;
}

tr:nth-child(even){
    background-color: rgb(225, 225, 255);
}

form button{
    width: 40%;
    height: 3rem;
    font-size: 1.2rem;
    margin-top:1rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: rgb(141, 91, 109);
    color: white;   
}
form button:hover{
    background-color: rgb(220, 95, 170);;
}

form label{
    font-size: 1.5rem;
}

form input::placeholder{
    font-size: 1.2rem;
}

footer{
    display:flex;
    align-items:center;
    width:100%;
    color:white;
    font-size:1.5rem;
}
.brand{
    display:flex;
    align-items:center;
    gap:1rem;
}
.box_model{
    display:flex;
    flex-direction:column;
    align-items:center; 
    gap:0;
}
.box_model h2{
    margin:0;
}
.box{
    margin:3rem;
    width:40%;
    height:20rem;
    border:1px solid black;
    padding:3rem;

}
article{
    display:flex;
    flex-direction:row;
    gap:2rem;
}
